// import fonts
@import url('/assets/fonts/Inconsolata-Regular.ttf');
@import url('/assets/fonts/Inconsolata-Bold.ttf');

// primary font family
$font-size: 12px;
$font-family: 'Inconsolata', monospace;
$font-color: #43e443;
$background-color: black;

// <a>
$a-color: white;

// <debugger>
$debugger-color: #d1e442;
$debugger-bgcolor: darkblue;
